/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  background-color: #fff;
  color: #555;
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}


/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 2rem 0;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 4rem 0; }
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
	text-align: left;
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  h1 { font-size: 1.5rem; }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }

/* Links
   ========================================================================== */

a {
  color: #497bad;
  text-decoration: none;
}

a:hover { text-decoration: underline; }


/* Elements
   ========================================================================== */

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto;
  width: 3rem;
}

@media (min-width: 40rem) {
  hr { margin: 2.5rem auto; }
}

hr.small { margin: 1.5rem auto; }

.circle {
  border: 3px solid #555;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #555;
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  height: 3.2rem;
  line-height: 1.7em;
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 3.2rem;
}

img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}

.rwd {
  margin: 0 auto 1.5rem auto;
  max-width: 440px;
}


/* Box Model
   ========================================================================== */

.box-model h1 { margin-bottom: 3rem; }

.margin { color: #f9cd9d; }
.border { color: #fce08f; }
.padding { color: #c2ddb6; }
.content { color: #9ec3e5; }


/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


.screen {

	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position:absolute;
	opacity: 0;
  filter: alpha(opacity=60); /* For IE8 and earlier */

  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

}
.screen:hover {
  opacity: 1
}



