html *{
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
}

header{
	text-align: center;

}

footer{
	text-align: center;

}

aside{
	background-color: blue;
}

nav{
	background-color: blue;
}

.header{
	font-size: 46px;
}
.navigation{
	font-size: 12px;
}
.content{
	font-size: 14px;
}
.sidebar{
	font-size: 10px;
}
.footer{
	font-size: 10px;
}

*[class*="a"] {
	background-color: blue;
}
*[class$="r"]{
	background-color: magenta;
}

.oh-no-inline-styles{
	background: green !important;
}