html{
	font-size: 14px;
	font-family: Arial;
}

header{
	text-align: center;
	background-color: #4d9898;
}

footer{
	text-align: center;
	background-color: #669966;
}

aside{
	background-color: #7c1c1c;
}

nav{
	background-color: #62999a;
}