
<!-- ******************TOP SEARCHBAR************************ -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Globant Final Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<form class="navbar-form navbar-left " role="search">
    	  <div class="form-group">
    	    <input ui-sref="home.listResults" type="text"  class="form-control" ng-model="toSearch" ng-change="search()" placeholder="Search...">
    	  </div>
    	</form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- ***********SIDE MENU**************** -->
<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
             <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li><a ui-sref="home.loginCallback" ng-click="login()">Login</a></li>     
          <li><a ui-sref="home.createNewPlaylist">Create Playlist</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
          
      <!-- ***********Main Content**************** -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
              <p class="well lead">Globant Bootcamp Final Project</p>
              <div ui-view></div> 
            </div>
          </div>
        </div>
      </div>
      
    </div>




<script >
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
  });
</script>
