<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{user.raw.images[0].url}}" alt="...">
      <div class="caption">
        <h3>Wellcome</h3> {{user.name}}
        <p>To create a new Playlist, search for the tracks you want first!</p>
      </div>

      <div class="row">
        <div class="col-lg-1">
          <div class="input-group">
            <span class="input-group-addon ">
              <input type="checkbox" ng-model="trackPrivacy">
            </span>
            <span class="input-group-addon">Public</span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-1 -->
      </div><!-- /.row -->

      <div class="row">
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="New PLaylist Name" ng-model="newPlaylistName">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="createNewPlaylist(newPlaylistName, trackPrivacy)">Create Playlist!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
    </div>



  </div>
</div>